{% extends 'dash.html' %}
{% load static %}
{% block content %}


<div class="container-xxl bg-white p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2>Contacted Details</h2>
            </div>
        </div>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
    </tr>
    {% for contact in contacts %}
    <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.message }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
{% endblock %}